RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^(chat)$ https://%{HTTP_HOST}/cgi-bin/cchat.cgi
RewriteRule ^(rcomment)$ https://%{HTTP_HOST}//cgi-bin/admin.cgi
RewriteRule ^(now)$ https://docs.google.com/document/d/1HG3gUJlT8Wg-GvOL_FCCtUHVqSIYy6dZZ44FYdnq8AU/edit?usp=sharing
RewriteRule ^(test)/(.*?)$ https://%{HTTP_HOST}//post/$2
RewriteRule ^(post|page|presentation|link)/([0-9]+)/rd$ https://%{HTTP_HOST}/cgi-bin/page.cgi?$1=$2&action=rd
RewriteRule ^(search)/(.*?)$ https://%{HTTP_HOST}/cgi-bin/page.cgi?action=$1&q=$2
RewriteRule ^(search|page|link)/(.*?)$ https://%{HTTP_HOST}/cgi-bin/page.cgi?$1=$2
RewriteRule ^feed$ https://%{HTTP_HOST}/feed.xml
RewriteRule ^PLE$ https://%{HTTP_HOST}/PLE.html

